<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Register</title>
<link rel="stylesheet" th:href="@{css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{css/all.css}" />
</head>
<body>
<a th:href="@{all-users}"><span>All Users</span></a><br/>
	<form action="save" method="post">

		<div class="form-group">
			<label for="exampleInputName">Name</label> <input type="text"
				class="form-control" id="exampleInputName" placeholder="Name" name="name">
		</div>

		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label> <input
				type="email" class="form-control" id="exampleInputEmail1"
				aria-describedby="emailHelp" placeholder="Enter email" name="email">
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">Password</label> <input
				type="password" class="form-control" id="exampleInputPassword1"
				placeholder="Password" name="password">
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

</body>
</html>